@charset "UTF-8";

body{
	front-size: BIZ UDPゴシック;
	 background-image: url("./images/background.jpg");
	text-align: center;
}

h1{
	font-size: 32px;
}

h2{
	font-size: 28px;
	color: #572100;
}

p{
	margin: 5px;
}

hr{
	border: 0;
	border-top: 1px solid #572100;
	margin: 50px;
}

#cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  height: 285px;
  border: 1px solid lightgray;
  background-color: white;
}

.card:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

.picture img {
  width: 100%;
  height: 200px;
}

.description {
  width: 100%;
  height: 145px;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
}

.description p {
  font-size: 15px;
  color: dimgray;
}

.error-msg{
	color: red;
}

table{
	border: 1px solid #5ebdad;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-collapse: collapse;
}

th{
	border: 1px solid #5ebdad;
	text-align: center;
	background-color: #3d9fb3;
	height: 32px;
}

td{
	border: 1px solid #5ebdad;
	text-align: center;
	height: 24px;
}
